<h2>Artist Name: <%= @album.name %></h2>

<h3>Artist Albums</h3>

  <% if @artist.albums %>
    <ul>
      <% @artist.albums.each do |album| %>
        <li><a href="/albums/<%= album.id %>"<%= album.name %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>No albums associated with this artist.</p>
  <% end %>

<h4>Add an album:</h4>

<form action="albums/<%= @album.id %>" method="post">
  <div class="form-group">
    <label for="album_name">Album Name:</label>
    <input id="album_name" name="album_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add Album</button>
</form>

<p><a href="/artists">Return to Artist list</a></p>
  