<h1> Add new artist</h1>

<form action="artists" method="post">
  <div class="form-group">
    <label for="artist_name">Artist Name:</label>
    <input id="artist_name" name="artist_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add Artist</button>
</form>